

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  background-color: black;
  
}

.box {
  flex-basis: 25%;
  max-width: 300px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;

}

.box h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.box p {
  margin: 0;
  line-height: 1.5;
  color: white;
}

.box a {
  font: bold;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  align-items: center;
}

.box a:hover {
  color: #ff6600;
}

.box i {
  font-style: normal;
  color: white;
}
.box .footer-icons{
  height: 30px;
  width: 30x;
}
 .share {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  
}


.share img{
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  border-radius: 5px;
  max-width: 40px;
  max-height:  40px;
}

.share a:hover {
    height: 50px;
    width: 50px;
}


.fab {
  font-size: 14px;
  margin-right: 5px;
} 

.box-container h1{
  justify-content: center;
text-align: center;

width: 100%;
}